body { 
  padding-top: 50px; /* The fixed navbar will overlay your other content, unless you add padding to the top of the <body>.*/
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#menu-section{
  background: #ddeedd;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #3F0C1F;
  overflow: hidden;
}
h1,h3{
	padding-top: 50px; 
	margin-top: -50px;
}