* {
	padding: 0px;
	margin: 0px;
}

body {
	font-size: 16px;
	color: #004F2D;
	background-color: #0A8754;
	font-family: 'Oxygen', sans-serif;
}

h1 {
	margin: 0px;
	padding: 0px;
}

#collapsable-nav {
	clear: left;	
}

#header-nav {
	border-radius: 0;
	border: 0;
	background-color: #9FD8CB;
}

#menu-title {
	color: white;
	font-size: 2em;
}

.container-fluid {
	padding: 0px;
}

.container-fluid>.navbar-header {
	margin: 0px;
}

.navbar-header {
	width: 100%;
	margin: 0px;
}

.list-group {
	margin: 0px;
	padding: 0px;
}

.list-group-item {
	border-radius: 0;
	border-right: 0px;
	border-left: 0px;
	padding: 0px;
	margin: 0px;
	color: white;
	background-color: #9FD8CB;
}

.list-group-item:hover {
	color: white;
	background-color: #00703F;
}

.navbar-default .navbar-nav>li>a:hover {
	color: white;
}

.navbar-brand {
	vertical-align: middle;
	margin: 5px 10px 10px 10px;
}

@media (min-width: 768px) {
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 10px;
}
}

.navbar-brand a:hover, .navbar-brand a:focus {
  	text-decoration: none;
}

.navbar-collapse {
	padding: 0px;
}

.menu-section {
	background-color: #9FD8CB;
	box-sizing: border-box;
	margin: 20px 10px;
	padding: 10px;
}

.menu-section-title {
	font-size: 1.75em;
}


